/* Blur Background */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(7px);  /* 🔥 MAIN PART */
    background: rgba(0,0,0,0.4);
    display: none;
    z-index: 10;
}

/* Popup Box */
.login-popup {
    width: 60%;
    max-width: 850px;
    background: white;
    border-radius: 15px;
    display: flex;
    gap: 20px;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 20;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

/* Left Box */
.left-box {
    width: 45%;
    background: #2e5776;
    color: white;
    padding: 25px;
    border-radius: 12px;
}

.left-box span {
    font-size: 50px;
    font-weight: bold;
}

.left-box img {
    width: 100%;
    margin-top: 20px;
}

/* Right Box */
.right-box {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 20px;
}

.right-box input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.otp-btn {
    padding: 12px;
    background: #0055ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 17px;
}